<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
<form th:object="${newAccount}" th:action="@{/processLogin}" method="POST">
Email: <input type="email" name="email" th:field="*{email}" required><br/>
Password: <input name="password" th:field="*{password}" required><br/>
<input name="submit" type="submit" value="Login"/>
</form>
  <script th:if="${error}">
  window.onload = function(){
	  alert("[[${error}]]");
	 }
  </script>
</body>
</html>